@import '../../node_modules/bootstrap/scss/bootstrap.scss';

#resource_catalog_app {
  .col {
    white-space: pre-wrap;
  }

  table > tbody > tr > td:first-child {
    font-weight: bold;
  }

  .title-hover {
    text-decoration: dashed underline;
  }
}

